/*------play video page----- */
.play-container{
    padding-left: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}

.right-sidebar{
    flex-basis: 30%;
}

.play-video video{
    width: 100%;
}

.right-sidebar-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8% ;

}
.right-sidebar-list img{
    width: 50%;

}
